body {
  display: flexbox;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('b1.jpg');
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.customcss
{
  text-align: center;
}
.thehead
{
  font-size: 5rem;
  font-family: DotumChe;
  font-weight: bold;
  color: #000;
  text-shadow: -1px 1px 0 red,1px 1px 0 red,1px -1px 0 red,-1px -1px 0 red;
}
